<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>index</title>
  </head>

  <body class="bg-gray-300">
    <!-- container -->
    <section>
      <!-- successModal -->
      <%- include('./partials/successModal.ejs') %>
      <!-- navbar -->
      <%- include('./partials/navbar.ejs') %>
      <!-- section1 -->
      <span class="formContent">
        <%-include('./partials/formsection.ejs') %> <%
        include('./partials/verified.ejs') %>
      </span>
      <span class="verifiedContent hidden top-24 right-0 fixed w-96">
        <%- include('./partials/verified.ejs') %>
      </span>
      <span class="footer"> <%- include('./partials/footer.ejs') %> </span>
    </section>

    <script>
      var data = "<%-(result) %>";
      var matric = "<%-(studentmat) %>";
      var validity = "<%- (studentStatus) %>";
      var studentInfo = "<%- (user) %>";
      console.log(validity);
    </script>
  </body>

  <script
    src="https://cdn.passwordless.dev/dist/0.2.0/passwordless.iife.js "
    crossorigin="anonymous "
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script defer src="js/form.js"></script>
  <script defer src="js/firebase.js"></script>
</html>
